body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}
#mapid { 
  height: 100vh;
}

.info {
	padding: 3px 8px;
	font: 18px/20px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 1px;
	color: #777;
}

.info li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.info ul {
  padding: 0 0 0.8em 0.8em;
  margin: 0
}